body.lock
	overflow: hidden
	transition: 0.3s
	width: 100%

.popup		
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.8)
	top: 0
	left: 0
	display: flex
	justify-content: center
	align-items: center
	z-index: 999
	opacity: 0
	visibility: hidden
	overflow-y: auto
	overflow-x: hidden
	transition: 0.3s

.popup.open
	opacity: 1
	visibility: visible
	transition: 0.3s

.popup.open .popup__body
	transform: translate(0px, 0px)
	opacity: 1 
	transition: 0.4s

.popup__body
	position: relative
	display: flex
	align-items: center
	justify-content: center
	background-color: #fff
	border-radius: 15px
	width: 410px
	height: 550px
	color: #000
	font-family: 'Righteous', sans-serif
	opacity: 0
	transform: translate(0px, -100%)
	transition: 0.4s

.popup_wrapper-form
	position: relative
	height: 98%

.login__form_close
	position: absolute
	top: 5px
	right: 5px
	width: 25px
	height: 25px

	.fa-rectangle-xmark
		cursor: pointer
		color: #B5B8B1
		transition: 0.3s

		&:hover
			color: #4E5754
			transition: 0.3s

.login__header
	display: flex
	justify-content: center
	flex-direction: column
	width: 100%
	text-align: center
	padding: 15px 0


.login__form
	display: flex
	justify-content: space-around
	flex-direction: column
	width: 100%
	overflow: hidden
	height: 300px

.login__form-container
	position: relative
	width: 100%

.login__username-input,
.login__password-input
	height: 50px
	border-radius: 12px
	border: 2px solid  #B5B8B1
	background-color: transparent
	padding-left: 15px
	width: 100%

.login__username-lbl,
.login__password-lbl
	pointer-events: none
	transition: 0.3s
	position: absolute
	top: 50%
	left: 55%
	width: 100%
	transform: translate(-50%, -50%)

.login__username-input:focus ~ .login__username-lbl,
.login__username:valid ~ .login__username-lbl,	
.login__password-input:focus ~ .login__password-lbl,
.login__password-input:valid ~ .login__password-lbl
	font-size: 0.55em
	transition: 0.3s
	transform: translate(-50%, -183%)

.login__username-input:focus,
.login__password-input:focus
	border: 2px solid  #B5B8B1

.clear_login
	border: 2px solid gold
	position: absolute
	width: 20px
	height: 20px
	top: 50%
	left: 95%
	transform: translate(-50%, -50%)

.login__show-password
	cursor: pointer
	width: 24px
	height: 24px
	position: absolute
	top: 50%
	left: 95%
	transform: translate(-50%, -50%)

	i
		color: #4C514A
		transition: 0.2s
				
		&:hover
			transition: 0.2s
			color: #A5A5A5

.login_btn
	height: 45px
	border: none
	width: 100%
	border-radius: 10px
	background-color: #DCDCDC
	color: #B8B799
	cursor: not-allowed
	font-size: 16px

.login__footer
	width: 100%

.login__help-container
	display: flex
	justify-content: center

.login__help
	text-align: center
	width: 40%
	height: 50px
	cursor: pointer
	color: #FFBA00

	&:hover
		color: #D6AE01
		transition: 0.3s

.login__choice-title
	overflow: hidden
	text-align: center

.login__choice-title:before,
.login__choice-title:after
	content: ""
	display: inline-block
	vertical-align: middle
	width: 100%
	height: 1.5px
	background-color: #A5A5A5
	position: relative

.login__choice-title:before
	margin-left: -100%
	left: -2px

.login__choice-title:after
	margin-right: -100%
	right: -2px

.login__choosing-login-method
	display: flex
	justify-content: center
	grid-gap: 5%
	padding: 20px 0

	i
		display: flex
		justify-content: center
		align-items: center
		width: 35px
		height: 35px
		cursor: pointer
		border-radius: 50%

	.fa-google
		border: 1px solid #A5A5A5

	.fa-apple 
		color: #fff
		background-color: #000

	.fa-facebook-f
		background-color: #3B5998
		color: #fff

	.fa-twitter
		background-color: #1FAEE9
		color: #fff



/*

	
.valid
	border: 1px solid #44944A
	transition: 0.3s

.valid_span
	color: #44944A
	transition: 0.3s

.invalid
	border: 1px solid #FF0033
	transition: 0.3s

.invalid_span
	color: #FF0033
	transition: 0.3s		



.clear_password
	border: 2px solid gold
	position: absolute
	top: 98px
	right: 32px
	scale: 0.7
	width: 20px
	height: 30px

.fa-xmark
	cursor: pointer
	border-radius: 50%
	background-color: #4C514A
	color:#fff
	padding: 2px 4px
	transition: 0.1s

.fa-xmark:hover
	background-color: #B5B8B1
	transition: 0.1s








.select_login_title
	overflow: hidden
	border: 2px solid gold



.select_login_title span
	display: inline-block
	vertical-align: middle
	font-size: 16px



