{% extends '/base.html' %}

{% block body %}
<nav class="admin-menu">
    <div class="wrapper">
        <span class="admin-menu__logo"><img src="../../img/characters/sticker.webp"></span>
        <ul>
            <li class="admin-menu__item"><i class="fa-solid fa-plus"></i><a href="#">Добавить пост</a></li>
            <li class="admin-menu__item"><i class="fa-solid fa-list-ul"></i><a href="#">Список пользователей</a></li>
            <li class="admin-menu__item"><i class="fa-solid fa-chart-simple"></i><a href="#">Активность</a></li>
            <li class="admin-menu__item"><i class="fa-solid fa-gear"></i><a href="#">Настройки</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/a0da6b1739.js" crossorigin="anonymous"></script>
<script src="../js/admin.js"></script>
{% endblock %}
