{% extends '/base.html' %}

{% block body %}
<section>
    <div class="wrapper">
        <table class="table">
            <tr>
                <td class="table__column table__column-UUID-round">UUID</td>
                <td class="table__column">Имя</td>
                <td class="table__column">Роль</td>
                <td class="table__column">Дата регистрации</td>
                <td class="table__column">Почта</td>
                <td class="table__column table__column-del-round">Удалить</td>
            </tr>
            {% for user in users %}
            <tr>
                <td class="table__row">{{ user.id}}</td>
                <td class="table__row">{{ user.username }}</td>
                <td class="table__row">{{ user.user_role }}</td>
                <td class="table__row">{{ user.time }}</td>
                <td class="table__row">{{ user.email }}</td>
                <td class="table__row"><i class="fa-solid fa-xmark"></i></td>
            </tr>
            {% endfor %}
        </table>

        <div class="btn-container">
            {% for btn in btns %}
            <div class="btn"> {{ btn }}</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/a0da6b1739.js" crossorigin="anonymous"></script>
<script src="../js/admin.js"></script>
{% endblock %}