{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../styles/css/main.css">
{% endblock %}

{% block header %}
<header class="header">
    <div class="wrapper">
        <div class="header-title"><h2></h2></div>

        <nav class="header-menu">
            <span> Анонсы </span>
            <span> Мероприятия </span>
            <span> Промокоды </span>
            <span> Помощь </span>
            <div class="marker"></div>
        </nav>

        <nav class="header-submenu">
            <label class="header-switch">
                <input type="checkbox" id="switch">
                <label for="switch" class="header-switch-theme" onclick="switch_theme();"></label>
            </label>

            <span><i class="fa-brands fa-telegram fa-xl"></i></span>
            <span onclick="crate_iframe();"> <i class="fa-solid fa-user fa-xl"></i></span>
            <span><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
        </nav>
    </div>
</header>
{% endblock %}

{% block body %}
<section class="slider" data-speed="slow">
    <div class="slider-wrapper">
        {% for i in range(19) %}
        <img src="../img/slider/{{i}}.jpg" class="slider_img" alt="#">
        {% endfor %}
    </div>
</section>

<section class="menu">
    <article class="menu__card">
        <div class="wrapper-menu">
            <h2>Основные навыки</h2>
            <img src="../img/cards/sword.webp" alt="sword">
            <div class="menu__btn-read">
                <div>Читать все</div>
            </div>
        </div>
    </article>

    <article class="menu__card">
        <div class="wrapper-menu">
            <h2>Таланты</h2>
            <img src="../img/cards/talents.webp" alt="talents">
            <div class="menu__btn-read">
                <div>Читать все</div>
            </div>
        </div>
    </article>

    <article class="menu__card">
        <div class="wrapper-menu">
            <h2>Созвездия</h2>
            <img src="../img/cards/const.webp" alt="const">
            <div class="menu__btn-read">
                <div>Читать все</div>
            </div>
        </div>
    </article>
</section>

<section class="focalors">
    <img src="../img/focalor/bg.png">
    <div class="wrapper">
        <img src="../img/focalor/focalor.png" class="focalor_img">
    </div>
</section>

<div class="iframe_container"> </div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <section class="footer__contact">
        <div class="wrapper">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
            <i class="fa-brands fa-youtube fa-xl"></i>
            <i class="fa-brands fa-instagram fa-xl"></i>
            <i class="fa-brands fa-discord fa-xl"></i>
            <i class="fa-brands fa-reddit fa-xl"></i>
            <i class="fa-brands fa-vk fa-xl"></i>
            <i class="fa-brands fa-bilibili fa-xl"></i>
        </div>
    </section>

    <section class="footer__info">
        <div class="wrapper">
            <div class="footer__author">
                <p>Stimorol</p>
            </div>
        </div>
    </section>
</footer>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/a0da6b1739.js" crossorigin="anonymous"></script>
<script src="../js/slider.js"></script>
<script src="../js/cards.js"></script>
{% endblock %}