{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../styles/css/main.css">
{% endblock %}

{% block header %}
<header class="header lock_padding">
    <div class="wrapper">
        <div class="header-title__container"><h2 class="header-title"></h2></div>

        <nav class="header-menu">
            <span class="header-menu_items"> Анонсы </span>
            <span class="header-menu_items"> Мероприятия </span>
            <span class="header-menu_items"> Промокоды </span>
            <span class="header-menu_items"> Помощь </span>
            <div class="header-menu--marker"></div>
        </nav>

        <nav class="header-submenu">
            <label class="header-switch">
                <input type="checkbox" id="switch">
                <label for="switch" class="header-switch-theme" onclick="switch_theme();"></label>
            </label>

            <span><i class="fa-brands fa-telegram fa-xl"></i></span>
            <span><a class="header-popup-link" href="#login__form"><i class="fa-solid fa-user fa-xl"></i></a></span>
            <span><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
        </nav>
    </div>
</header>
{% endblock %}

{% block body %}
<section class="slider lock_padding" data-speed="slow">
    <div class="slider-wrapper">
        {% for i in range(19) %}
        <img class="slider_img" src="../img/slider/{{i}}.jpg" alt="#">
        {% endfor %}
    </div>
</section>

<section class="menu lock_padding">
    <article class="menu__card">
        <div class="wrapper-menu">
            <h2 class="menu_title">Основные навыки</h2>
            <img class="menu-img" src="../img/cards/sword.webp" alt="sword">

            <div class="menu-card__table">
                <div class="menu-card__items">
                    <div class="menu-card_title">Приглашение на одиночный танец. Заряженная атака</div>
                    <div class="menu-card_description">
                        Расходует часть выносливости и переключает стойку, начиная одиночный танец.
                        Наносит противникам физический урон и меняет тип Архэ Фурины.
                        Если во время заряженной атаки на поле боя присутствуют помощники Архонта — также меняет их тип.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Салон одиноких сердец. Элементальный навык</div>
                    <div class="menu-card_description">
                        Фурина вызывает на поле боя помощников из «Салона одиноких сердец».
                        При этом, тип призванных существ зависит от архэ Архонта.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Да возрадуются люди. Взрыв стихии</div>
                    <div class="menu-card_description">
                        Фурина создает на поле боя сцену из пены и атакует противников Гидро уроном по площади в зависимости от своего
                        максимального HP. Все члены отряда получают статус Всемирного веселья.
                    </div>
                </div>
            </div>

            <div class="btn-memu__container">
                <button class="btn-menu_read">Читать все</button>
            </div>
        </div>
    </article>

    <article class="menu__card">
        <div class="wrapper-menu">
            <h2 class="menu_title">Таланты</h2>
            <img class="menu-img" src="../img/cards/talents.webp" alt="talents">

             <div class="menu-card__table">
                <div class="menu-card__items">
                    <div class="menu-card_title">Бесконечный вальс</div>
                    <div class="menu-card_description">
                        Когда активный персонаж в отряде получает лечение с избытком и его источник не сама Фурина, Фурина в течение 4 сек.
                        каждые 2 сек. восстанавливает HP членам отряда поблизости в количестве 2% от макс. HP каждого из них.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Неуслышанное признание</div>
                    <div class="menu-card_description">
                        Каждые 1000 ед. макс. HP усиливают Салон одиноких сердец Фурины другого архэ следующим образом:
                        Урон, наносимый участниками салона, увеличивается на 0,7%, макс. 28%.
                        Интервал, с которым Певец Потоков лечит активного персонажа поблизости понижается на 0,4%. Интервал этим способом можно понизить макс. на 16%.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Море - моя сцена</div>
                    <div class="menu-card_description">
                        Время отката способностей ксенохромных инородов Фонтмера снижается на 30%.
                    </div>
                </div>
            </div>

            <div class="btn-memu__container">
                <button class="btn-menu_read">Читать все</button>
            </div>
        </div>
    </article>

    <article class="menu__card">
        <div class="wrapper-menu">
            <h2 class="menu_title">Созвездия</h2>
            <img class="menu-img" src="../img/cards/const.webp" alt="const">

            <div class="menu-card__table">
                <div class="menu-card__items">
                    <div class="menu-card_title">У любви, как у пташки, крылья, её нельзя никак поймать</div>
                    <div class="menu-card_description">
                        При использовании Да возрадуются люди Фурина получает 150 ед. фанфар.
                        Также лимит фанфар Фурины увеличивается на 100 ед.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Сердце красавиц склонно к измене</div>
                    <div class="menu-card_description">
                        Пока действует навык Да возрадуются люди, прирост фанфар Фурины от увеличения или уменьшения HP персонажей
                        поблизости увеличивается на 250%. Каждая ед. фанфар сверх лимита увеличивает макс. HP Фурины на 0,35%.
                        Предельное увеличение макс. HP таким способом составляет 140%.
                    </div>
                </div>

                <div class="menu-card__items">
                    <div class="menu-card_title">Но секрет мой скрыт во мне, никто не узнает моё имя!</div>
                    <div class="menu-card_description">
                       Повышает уровень навыка Да возрадуются люди на 3. Макс. уровень: 15.
                    </div>
                </div>
            </div>


            <div class="btn-memu__container">
                <button class="btn-menu_read">Читать все</button>
            </div>
        </div>
    </article>
</section>

<section class="focalors">
    <img class="focalors_bg focalors_bg--show" src="../img/bg/1.webp">
    <img class="focalors_bg" src="../img/bg/2.webp">
    <img class="focalors_bg" src="../img/bg/3.webp">
    <img class="focalors_bg" src="../img/bg/4.webp">
    <img class="focalors_bg" src="../img/bg/5.webp">
    <div class="wrapper">
        <img class="focalors_pers" src="../img/focalors/focalors.png">
        <div class="focalors__about">
            <div class="focalors__name">Фурина</div>

            <div class="focalors_voice">
                <span class="focalors_rhombus"></span>
                <p class="focalors__voice-actor">VA: MINASE Inori</p>

                <button class="focalors__play-voice-btn">
                    <span class="focalors__play-voice-img"></span>
                    <audio class="focalors-audio" src="../../voice_lines/VO_JA_Furina_Hello.mp3"></audio>
                </button>
            </div>

            <div class="focalors__info">
                <span class="focalors_rhombus focalors_rhombus--light"></span>
                <p class="focalors__text">Повелительница всех вод, людей, родов и законов» горячо любима своим народом.</p>
                <p class="focalors__text">Она с неугасающей страстью следит за каждым судебным разбирательством в оперном театре «Эпиклез»
                    и всегда принимает во внимание реакцию зрителей.
                </p>
            </div>
        </div>
        <ul class="focalors__indicator">
            <li class="focalors__indicator_item focalors__indicator--active"></li>
            <li class="focalors__indicator_item"></li>
            <li class="focalors__indicator_item"></li>
            <li class="focalors__indicator_item"></li>
            <li class="focalors__indicator_item"></li>
        </ul>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer">
    <section class="footer__contact">
        <div class="wrapper wrapper__footer">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
            <i class="fa-brands fa-youtube fa-xl"></i>
            <i class="fa-brands fa-instagram fa-xl"></i>
            <i class="fa-brands fa-discord fa-xl"></i>
            <i class="fa-brands fa-reddit fa-xl"></i>
            <i class="fa-brands fa-vk fa-xl"></i>
            <i class="fa-brands fa-bilibili fa-xl"></i>
            <i class="fa-brands fa-twitch fa-xl"></i>
        </div>
    </section>

    <section class="footer__info">
        <div class="wrapper">
            <ul class="footer__subscription-news">
                <li class="footer__subscription_info">
                    <h2 class="footer__subscription_title">Подпишитесь на последние новости</h2>
                    <p class="footer__subscription_description">
                        Подпишитесь на официальные новости Genshin Impact от Паймон, чтобы первыми узнавать о новинках, получать сведения о
                        персонажах и быть в курсе наград временных событий!
                    </p>
                </li>
                <li class="footer__subscription-content">
                    <form class="footer__subscription_form" action="">
                        <input class="footer__sub_input" type="email" minlength="5" maxlength="30">
                        <button class="footer__sub_btn">Подписаться</button>
                    </form>
                </li>
            </ul>
        </div>
    </section>
</footer>
{% endblock %}

{% block popup %}
<section class="popup" id="login__form">
    <div class="popup__body">
        <div class="wrapper popup_wrapper-form">
            <button class="login__form_close">
                <a class="login__form_close-link" href="#"><i class="fa-regular fa-rectangle-xmark fa-xl"></i></a>
            </button>

            <header class="login__header">
                <h2 class="login__title" >Вход</h2>
                <p class="login__sub-title">в учетную запись</p>
            </header>

            <form class="login__form" method="POST" action="/login" enctype="multipart/form-data">
                <div class="login__form-container">
                    <input class="login__username-input" name="username" type="text"
                           maxlength="40" minlength="2" autocomplete="off" required>
                    <label class="login__username-lbl">Имя пользователя / электронная почта</label>
                    <div class="clear_login"> <!--<i class="fa-solid fa-xmark"></i>--> </div>
                </div>

                <div class="login__form-container">
                    <input class="login__password-input" name="password" type="password"
                       maxlength="14" minlength="5" autocomplete="off" required>
                    <label class="login__password-lbl">Пароль</label>

                    <button class="login__show-password" onclick="show_password();">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    <!--<div class="clear_password">
                            <i class="fa-solid fa-xmark"></i>
                        </div>-->
                </div>

                <button class="login_btn" type="submit"> Войти </button>

                <ul class="login__help-container">
                    <li class="login__help"><a class="login__help_link" href="#">Столкнулись с проблемами?</a></li>
                    <li class="login__help"><a class="login__help_link" href="#register__form">Зарегистрироваться сейчас</a></li>
                </ul>
            </form>

            <footer class="login__footer">
                <div class="login__choice-container">
                    <p class="login__choice-title">Другие способы входа</p>
                </div>

                <div class="login__choosing-login-method">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </footer>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/a0da6b1739.js" crossorigin="anonymous"></script>
<script src="../js/slider.js"></script>
<script src="../js/cards.js"></script>
<script src="../js/voice.js"></script>
<script src="../js/input.js"></script>
<script src="../js/show_form.js"></script>
<script src="../js/switch_theme.js"></script>
<script src="../js/focalors_bg_slider.js"></script>
{% endblock %}