{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../../styles/css/authentication/login.css">
 <link rel="stylesheet" href="../../styles/css/authentication/register.css">
{% endblock %}


{% block body %}
<body>
    <section class="login">
        <div class="wrapper">
            <div class="close_login_form">
                <i onclick="close_iframe();" class="fa-regular fa-rectangle-xmark fa-xl"></i>
            </div>

            <header>
                <div> Stimorol </div>
                <div>{% block title %} Войти в учётную запись  {% endblock %}</div>
            </header>

            {% block form %}

            {% endblock %}

            <footer>
                <div class="select_login_title">
                    <span>Другие способы входа</span>
                </div>

                <div class="select_login_img">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </footer>
        </div>
    </section>
</body>
{% endblock %}

{% block script %}
<script src="../../js/login.js"></script>
<script src="../../js/register.js"></script>
<script src="https://kit.fontawesome.com/a0da6b1739.js" crossorigin="anonymous"></script>
{% endblock %}
