{% extends 'authentication/base_auth.html' %}

{% block body %}
<body>
    <section class="login">
        <div class="wrapper">
            <div class="close_login_form">
                <i onclick="close_iframe();" class="fa-regular fa-rectangle-xmark fa-xl"></i>
            </div>

            <header>
                <div> Stimorol </div>
                <div>{{ form_name }}</div>
            </header>

            {% block form %}
            <form method="POST" action="/login" enctype="multipart/form-data">
               <input name="username" id="login_input" type="text" maxlength="40" minlength="2" autocomplete="off" required>
               <label class="login_span">Имя пользователя / электронная почта</label>
               <div class="clear_login"> <i class="fa-solid fa-xmark"></i> </div> <!--можно удалить и вставить как с картинкой1!!-->

               <input name="password" id="password_input" type="password" maxlength="14" minlength="5" autocomplete="off" required>
               <label class="password_span">Пароль</label>

               <div class="show_password" onclick="show_password();">
                   <i class="fa-solid fa-eye"></i>
               </div>
               <div class="clear_password"> <i class="fa-solid fa-xmark"></i> </div>

                <button type="submit"> Войти </button>

                <section>
                    <span class="help"> Столкнулись с проблемами?</span>
                    <span class="help" onclick="location.href='/register'"> Зарегистрироваться сейчас</span>
                </section>
            </form>
            {% endblock %}

            <footer>
                <div class="select_login_title">
                    <span>Другие способы входа</span>
                </div>

                <div class="select_login_img">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </footer>
        </div>
    </section>
</body>
{% endblock %}

