{% extends "authentication/login.html" %}

{% block head %}
    <title>Register</title>
    <link rel="stylesheet" href="../../css/authentication/register.css">
{% endblock %}

{% block title %}
    Регистрация
{% endblock %}

{% block form %}
    <form method="POST" action="/register" enctype="multipart/form-data">
        <input name="email" id="email" type="email" required autocomplete="off" minlength="8" maxlength="40">
        <label class="username_lb">Электронная почта</label>

        <input name="cod_confirm" id="cod_confirm" type="text" required autocomplete="off" minlength="6" maxlength="6">
        <label class="cod_confirm_lb">Код подтверждения</label>
        <div class="cod_confirm_btn">Отправить</div>

        <input name="password" id="password" type="password" required autocomplete="off" minlength="6" maxlength="22">
        <label class="password_lb">Введите пароль</label>

        <input name="password_confirm" id="password_confirm" type="password" required autocomplete="off" minlength="6" maxlength="22">
        <label class="password_confirm_lb">Пожалуйста, введите пароль еще раз</label>

        <div class="terms_of_use">
            <input type="checkbox" id="input_checkbox" required>
            <label for="input_checkbox" class="custom_checkbox"></label>

            <span class="terms_of_use_span">Мною прочитаны и приняты
                <a>Пользовательское соглашение</a> и <a>Политика конфиденциальности</a>
            </span>
        </div>
        <button type="submit">Регистрация</button>

        <span class="login_href">Уже есть учетная запись? <a href="/login">Войти</a></span>

    </form>
{% endblock %}

{% block script %}
    <script src="../../js/register.js"></script>
{% endblock %}