.popup__body-reset-password
	height: 50%

.popup__header-reset-password
	justify-content: end

.popup__form-reset-password
	position: relative
	justify-content: start
	height: 60%

.popup__btn-send
	position: absolute
	top: 50%
	height: 100%
	right: 0
	transform: translate(0%, -50%)
	color: #FFBA00
	transition: 0.1s
	padding: 0 1%
	border-top-right-radius: 12px
	border-bottom-right-radius: 12px

	&:hover
		transition: 0.1s
		color: #D6AE01

	&:before
		content: ""
		border: 1.5px solid #B5B8B1
		display: flex
		position: absolute
		height: 80%
		top: 50%
		left: 0
		transform: translate(-50%, -50%)
		border-radius: 5px

.indicator__steps-container
	position: absolute
	display: flex
	bottom: 0
	grid-gap: 5%
	width: 100%
	justify-content: center

.indicator__steps-reset-pwd
	cursor: pointer
	width: 15px
	height: 15px
	border-radius: 50%
	background-color: #253db8
	transition: 0.5s
	opacity: 0.7

.indicator__steps-reset-pdw_active
	transition: 0.5s
	opacity: 1

.popup__btn-next-step
	position: absolute
	bottom: 5%
	right: 0
	border-radius: 50%
	background-color: #3945a1
	color: #fff
	width: 25px
	height: 25px
	transition: 0.3s

	&:hover
		cursor: pointer
		padding: 0
		width: 20%
		border-radius: 10px
		transition: 0.3s

		&:before
			content: "Далее"

	&:before
		content: ">"

@keyframes test_as
	0%
		transform: translateX(0%)
	100%
		transform: translateX(-100%)

@keyframes form-step
	0%
		transform: translateX(100%)
	100%
		transform: translateX(0)

.popup__form-step
	position: absolute
	width: 100%
	height: 100%
	display: flex
	flex-direction: column
	justify-content: start
	grid-gap: 20%
	opacity: 0
	visibility: hidden
	transition: 0.7s
	animation: test_as 0.5s

.popup__form-step_active
	opacity: 1
	visibility: visible
	animation: form-step 0.5s
